# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Production Build Output
dist/
dist-ssr/
build/

# Environment Variables & Secrets
.env
.env*.local
*.local

# Vercel, IDE & Antigravity Metadata
.vercel
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
